<div class="hashtag-page">
  <div class="hashtag-header">
    <h1>#{{ hashtag }}</h1>
    <p class="hashtag-description">Posts tagged with #{{ hashtag }}</p>
    <div class="hashtag-stats">
      <span class="post-count">{{ posts.length }} posts</span>
    </div>
  </div>

  <div class="posts-container" *ngIf="posts.length > 0; else noPosts">
    <div class="post-grid">
      <div class="post-card" *ngFor="let post of posts">
        <div class="post-header">
          <div class="author-info">
            <img [src]="post.author.avatar" [alt]="post.author.name" class="author-avatar">
            <div class="author-details">
              <h4>{{ post.author.name }}</h4>
              <span class="post-date">{{ post.createdAt | date:'short' }}</span>
            </div>
          </div>
        </div>

        <div class="post-content">
          <h3><a [routerLink]="['/post', post.id]">{{ post.title }}</a></h3>
          <p class="post-excerpt">{{ post.content | slice:0:150 }}{{ post.content.length > 150 ? '...' : '' }}</p>

          <img *ngIf="post.image" [src]="post.image" [alt]="post.title" class="post-image">

          <div class="post-tags">
            <span 
              class="tag" 
              *ngFor="let tag of post.tags"
              [routerLink]="['/hashtag', tag]">
              #{{ tag }}
            </span>
          </div>
        </div>

        <div class="post-stats">
          <span class="stat">
            <i class="icon-like"></i>
            {{ post.likes || 0 }} likes
          </span>
          <span class="stat">
            <i class="icon-comment"></i>
            {{ post.comments || 0 }} comments
          </span>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    <div class="no-posts">
      <h2>No posts found for #{{ hashtag }}</h2>
      <p>Be the first to create a post with this hashtag!</p>
      <a routerLink="/community" class="create-post-btn">Create Post</a>
    </div>
  </ng-template>

  <div class="related-hashtags" *ngIf="relatedHashtags.length > 0">
    <h3>Related Hashtags</h3>
    <div class="hashtag-cloud">
      <a 
        *ngFor="let related of relatedHashtags" 
        [routerLink]="['/hashtag', related]"
        class="hashtag-link">
        #{{ related }}
      </a>
    </div>
  </div>
</div>